In [14]:
# task 11
# strings

quote=('i LOVE my INDIA my')
print(type(quote))
quote.capitalize()

<class 'str'>

'I love my india my'

In [38]:
len(quote)

18

In [39]:
quote.upper()

'I LOVE MY INDIA MY'

In [40]:
quote.lower()

'i love my india my'

In [41]:
quote.center(25,'#')

'####i LOVE my INDIA my###'

In [42]:
quote.count('my')

2

In [43]:
quote.split()

['i', 'LOVE', 'my', 'INDIA', 'my']

In [44]:
quote.startswith('i')

True

In [45]:
quote.endswith('INDIA')

False

In [46]:
quote=('i LOVE my INDIA my')    
quote.find('LOVE')

2

In [47]:
quote=('i LOVE my INDIA my')
quote.index('O')

3

In [48]:
q='my name is {0}, iam {1}'.format('sanju',24)
q

'my name is sanju, iam 24'

In [49]:
n='6789wxyz'
n.isalnum()     # alpha numeric

True

In [50]:
n.isdecimal()    #only decimal-true

False

In [51]:
n.isdigit()   # only digit-true

False

In [52]:
quote=('           i LOVE my INDIA my')
quote.lstrip()

'i LOVE my INDIA my'

In [53]:
quote=('i LOVE my INDIA my'        )
quote.rstrip()

'i LOVE my INDIA my'

In [62]:
quote=('i love my country')
quote.title()

'I Love My Country'

In [80]:
quote=('i love my country')
quote.replace('country','india')

'i love my india'

In [88]:
quote=('i','love','my','country')
k='#'.join(quote)
k

'i#love#my#country'

In [12]:
## tuples

'''1.Tuple is used to store the sequence of immutable.
2.The tuple is similar to lists since the value 
of the items stored in the list can be changed, 
whereas the tuple is immutable,
and the value of the items stored in the tuple cannot be changed.
3.A tuple can be written as the collection of comma-separated (,) 
4.values enclosed with the small ()'''

'1.Tuple is used to store the sequence of immutable.\n2.The tuple is similar to lists since the value \nof the items stored in the list can be changed, \nwhereas the tuple is immutable,\nand the value of the items stored in the tuple cannot be changed.\n3.A tuple can be written as the collection of comma-separated (,) \n4.values enclosed with the small ()'

In [13]:
###  tuples
t=('car',24)
type(t)

tuple

In [23]:
t=(21,12,14,85,45,63,35,44)
max(t)

85

In [22]:
min(t)

12

In [24]:
sum(t)

319

In [25]:
len(t)

8

In [30]:
print(t*3)

(21, 12, 14, 85, 45, 63, 35, 44, 21, 12, 14, 85, 45, 63, 35, 44, 21, 12, 14, 85, 45, 63, 35, 44)

In [2]:

v=(1,2,3,4,5)
y=(1,2,3,4,5)
v+y

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [26]:
### task-12

t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
t3=[]

for i in range(5):
    
    a=t1[i]+t2[i]
    t3.append(a)
    
tuple(t3)

(2, 4, 6, 8, 10)

In [1]:
## task-13

import random
num=random.randrange(1,20)
guess=int(input('guess number from 1 to 20:'))
while guess !=num:
    if guess<num:
        print('you need to guess higher.try again')
        guess=int(input('guess number from 1 to 20:'))
    else:
        print('you need to guess lower.try again')
        guess=int(input('guess number from 1 to 20:'))
        
print('you guess the number correctly')

guess number from 1 to 20:14
you need to guess higher.try again
guess number from 1 to 20:15
you need to guess higher.try again
guess number from 1 to 20:16
you need to guess higher.try again
guess number from 1 to 20:17
you guess the number correctly

In [3]:
## task -14     sets {}

s=set()
print(type(s))

<class 'set'>

In [10]:
s={24,32,34,'hai',34}
s

{24, 32, 34, 'hai'}

In [6]:
s[0]

TypeError: 'set' object is not subscriptable

In [9]:
s.add('rain')
s

{24, 32, 34, 'hai', 'platform', 'rain', 'raju'}

In [13]:
s.clear()
s

set()

In [15]:
s={24, 32, 34, 'hai', 'platform', 'rain', 'raju'}
s.copy()
s

{24, 32, 34, 'hai', 'platform', 'rain', 'raju'}

In [29]:
s={24, 32, 34, 'hai', 'platform', 'rain', 'raju'}
s.pop()
s

{24, 34, 'hai', 'platform', 'rain', 'raju'}

In [36]:
s={24, 32, 34, 'hai', 'platform', 'rain', 'raju'}
s.remove('hai')
s

{24, 32, 34, 'platform', 'rain', 'raju'}

In [43]:
s.update('a','b')
s

{24, 32, 34, 'a', 'b', 'platform', 'rain', 'raju'}

In [44]:
# set operations
s1={1,2,3,4,5,6}
s2={5,6,7,8,9,10,11,12}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [45]:
s1.intersection(s2)

{5, 6}

In [46]:
s1.difference(s2)

{1, 2, 3, 4}

In [56]:
s1={1,2,3,4,5,6}
s2={5,6,7,8,9,10,11,12}
s1.symmetric_difference(s2)

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [58]:
s1.issubset(s2)

False

In [61]:
s1={'a','b','c'}
s2={'a'}
s1.issuperset(s2)

True

In [62]:
s2.issuperset(s1)

False

In [63]:
s1.isdisjoint(s2)

False

In [ ]:
## dictionary

In [21]:
hotel={'name':'croods','seats':80,'tables':16}
hotel['name']

'croods'

In [29]:
hotel.keys()

dict_keys(['name', 'seats', 'tables'])

In [31]:
hotel.values()

dict_values(['croods', 80, 16])

In [43]:
hotel={'name':'croods','seats':80,'tables':[16,18]}
h=hotel.get('tables')
h[1]

18

In [44]:
hotel.items()

dict_items([('name', 'croods'), ('seats', 80), ('tables', [16, 18])])

In [59]:
hotel={'name':'croods','seats':80,'tables':16}
hotel.update({'add':'dishes'})
hotel

{'name': 'croods', 'seats': 80, 'tables': 16, 'add': 'dishes'}

In [72]:
hotel={'name':'croods','seats':80,'tables':16}
hotel['name']='punjabi'
hotel

{'name': 'punjabi', 'seats': 80, 'tables': 16}

In [77]:
hotel={'name':'croods','seats':80,'tables':16}
hotel.pop('seats')

80

In [82]:
hotel={'name':'croods','seats':80,'tables':16}

for i in hotel:
    print(i)

name
seats
tables

In [80]:
hotel={'name':'croods','seats':80,'tables':16}
for i in hotel.values():
    print(i)

croods
80
16

In [84]:
for i in hotel.items():
    print(i)

('name', 'croods')
('seats', 80)
('tables', 16)

In [7]:
## task-15 calculator

num1=float(input('enter num1:'))
num2=float(input('enter num2:'))
operator=input(' enter operator:')
if operator=='+':
    print('add:',num1+num2)
elif operator=='-':
    print('sub:',num1-num2)
elif operator=='*':
    print('mul:',num1*num2)
elif operator=='/':
    print('div:',num1/num2)
elif operator=='%':
    print('percentage or modulus:',num1%num2)
else:
    print('invalid')

enter num1:2855
enter num2:18
 enter operator:/
div: 158.61111111111111

In [ ]:
## task -16 all saves in notepad

In [1]:
## task -17 functions
# A function is a block of code which only runs when it is call

def func():
    print('this is function')
func()

this is function

In [5]:
def func(a,b):
    print('this is function',a,b)
func(15,20)

this is function 15 20

In [15]:
##   * is arg(argument) ,  * use for tuple 

def func(*a):
    print('function',a)
func(25,26,'hai')

function (25, 26, 'hai')

In [19]:
def func(**a):             # ** uses for dictionary
    print('function',a)
func(vehicle='bus',cost=200)

function {'vehicle': 'bus', 'cost': 200}

In [28]:

def func(a,b=2,c=3):
    print('this is func',a,b,c)
func(1,2,3)
func(1,2)
func(1)

this is func 1 2 3
this is func 1 2 3
this is func 1 2 3

In [50]:
def outer():
    print('this is outer')
    def inner():
        print('this is inner')
    inner()
outer()

this is outer
this is inner

In [39]:
def add(a,b):
    return a+b
add(8,5)

13

In [40]:
def sub(a,b):
    return a-b
sub(15,9)

6

In [65]:
def mul(a,b):
    return a*b
mul(8,5)

40

In [66]:
def div(a,b):
    return a/b
div(8,5)

1.6

In [75]:
##  task -18 ## advance functions

'''A lambda function is a small anonymous function.

A lambda function can take any number of arguments,
 but can only have one expression.

lambda arguments : expression'''

f=lambda a:a+a
print(f(5))

10

In [78]:
f=lambda a,b,c:a*b*c
print(f(2,4,6))

48

In [29]:
## filters().
'''
The filter() method filters the given sequence with the help 
of a function that tests each element in the sequence 
to be true or not.'''

'''syntax:

filter(function, sequence)
Parameters:
function: function that tests if each element of a 
sequence true or not.
sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.
Returns:
returns an iterator that is already filtered.

'''
## example##

ages=[20,15,52,44,47,18,8,16]

def func(x):
    if x <18:
        return False
    else:
        return True
    
adults = filter(func,ages)
print('only >=18:',list(adults))

only >=18: [20, 52, 44, 47, 18]

In [26]:
'''maps:
# The python map() function is used to return a list of results
# after applying a given function to each item of an iterable(list, tuple etc.)
# map(function, iterables)  '''

def calculation_of_multiplication(n):
    return n*n
num=(3,5,7,9,11,13,14)
answer=map(calculation_of_multiplication,num)
print('multiplication:',tuple(answer))

print('------------')

def calculation_of_addition(n):
    return n+n
num=(3,5,7,9,11,13,14)
answer=map(calculation_of_addition,num)
print('addition:',list(answer))

multiplication: (9, 25, 49, 81, 121, 169, 196)
------------
addition: [6, 10, 14, 18, 22, 26, 28]

In [5]:
from functools import reduce
'''
The reduce() function, as the name describes,
applies a given function to the iterables and returns a single value.

Working conditions:

The first two elements of the sequence are chosen in the first step, and the result is achieved.
The result is then saved after applying the same function to the previously obtained result and the number preceding of
the second element.
This method is repeated until there are no more elements in the container.
The final result is returned to the console and printed.
'''
func=reduce(lambda a,b:a+b,[10,20,30,40,50,60])
print('addition:',func)
print('---------------')
func=reduce(lambda a,b:a*b,[10,20,30,40,50,60])
print('multiply:',func)
print('---------------')
func=reduce(lambda a,b:a-b,[10,20,30,40,50,60])
print('subtraction:',func)

addition: 210
---------------
multiply: 720000000
---------------
subtraction: -190

In [21]:
def add(*a):
    return a+a
add(10,20,30,40,50,60)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [34]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [86]:
# generator functions - {use only 'yield' keyword}
'''
Generator-Function ::
...A generator-function is defined like a normal function,
...but whenever it needs to generate a value, 
...it does so with the yield keyword rather than return.
...If the body of a def contains yield, the function automatically
becomes a generator function.
'''
'''
1)The yield statement is responsible for controlling the flow of the generator function.
2)It pauses the function execution by saving all states and yielded to the caller. 
3)Later it resumes execution when a successive function is called. We can use the multiple yield statement in the
generator function.

4)The return statement returns a value and terminates the whole function and only one return statement can be used
in the function.
'''

def GeneratorFunc():
	yield 1
	yield 2
	yield 3
	yield 4   
             # # x is a generator object
g= GeneratorFunc()

            # #Iterating over the generator object using next
    
print(g.__next__()) # In Python 3, __next__()
print(g.__next__())
print(g.__next__())
print(g.__next__())

1
2
3
4

In [15]:
## task-19
import calendar
year=int(input('enter year:'))
month=int(input('enter month:'))

print('calendar of 1997:')
print(calendar.month(year,month))

enter year:1997
enter month:06
calendar of 1997:      June 1997
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30