In [1]:
## task 2 - simple inetrest

p=2500
t=2
r=14
si=(p*t*r)/100
print('simple inetrest:',si)

simple inetrest: 700.0

In [2]:
### task 3 - compound interest


principle = int(input("Enter principle amount: "))
rate = int(input("Enter interest rate: "))
time = int(input("Enter time(years): "))

ci= principle * pow((1 + rate / 100), time) - principle

print("Compound interest is ",ci)

Enter principle amount: 1500
Enter interest rate: 14
Enter time(years): 4
Compound interest is  1033.4402400000013

In [3]:
#   task 4 
## type function

s=12
a=24.33
n=24+3j
f=False
c=True

print(type(s))
print(type(a))
print(type(n))
print(type(f))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>

In [4]:
# type conversion

a=30
b=15.88
c=12+6j
d=False

print(int(a))
print(float(a))
print(complex(a))
print(bool(a))
print('--------------')
print(int(b))
print(float(b))
print(complex(b))
print(bool(b))
print("--------------")

print(int(c))
print(float(c))
print(complex(c))
print(bool(c))
print('--------------')

print(int(d)
print(float(d))
print(complex(d))
print(bool(d))
print('--------------')

SyntaxError: invalid syntax (<ipython-input-4-bd5cc120e585>, line 26)

In [5]:
## task 5
# arthimetic operators

a=22
b=9
print('**Arthimetic operators**')
print('sum:',a+b)
print('subtract:',a-b)
print('division:',a/b)
print('multiply:',a*b)
print('modulus:',a%b)
print('exponent:',a**b)
print('floor division:',a//b)
print('------------------')
print('**Assignment operators**')
print('equal:',a==b)
print('not equal:',a!=b)
print('greather than:',a>b)
print('less than:',a<b)
print('greater than equal to:',a>=b)
print('less than equal to:',a<=b)
print('------------------')
print('**logical operators**')
print('AND:',a>b and a<b)
print('OR:',a>b or a<b)
print('not:',not(a>b and a<b))

**Arthimetic operators**
sum: 31
subtract: 13
division: 2.4444444444444446
multiply: 198
modulus: 4
exponent: 1207269217792
floor division: 2
------------------
**Assignment operators**
equal: False
not equal: True
greather than: True
less than: False
greater than equal to: True
less than equal to: False
------------------
**logical operators**
AND: False
OR: True
not: True

In [6]:
## task -6
## conditions(if else,if elif else)
 
a=int(input('enter number:'))
b=int(input('enter number:'))
if a>b:
    print('true')
else:
    print('false')

enter number:55
enter number:44
true

In [7]:
a=int(input('enter number:'))
b=int(input('enter number:'))
if a<b:
    print('true')
elif a==b:
    print('equal')
else:
    print('false')

enter number:47
enter number:56
true

In [8]:
## nested if
a=int(input('enter number:'))

if a>220:
    print('a is more than 220')
    if a>240:
        print('a is more than 240 ')
    elif a==240:
        print('a is equal to 240')
else:
    print('a is less than 220')

enter number:258
a is more than 220
a is more than 240

In [1]:
## task 7
## loops ( for ,while)

w=int(input('enter num:'))
while w<8:
    print(w)
    w+=1
else:
    print('w is no long than 8')

enter num:1
1
2
3
4
5
6
7
w is no long than 8

In [2]:
## for loop
snacks=['tea','coffe','puff']
for i in snacks:
    print(i)

tea
coffe
puff

In [15]:
for i in 'onion':
    print(i)

o
n
i
o
n

In [24]:
for i in range(5,10):
    print(i)
print('-----')
for i in range(3,15,2):
    print(i)
print('------')
for i in range(4,30,8):
    print(i)
else:
    print('finised')
print('--------')

f1=['small','large']
f2=['tv','home theatre']
for i in f1:
    for j in f2:
        print(i,j)

5
6
7
8
9
-----
3
5
7
9
11
13
------
4
12
20
28
finised
--------
small tv
small home theatre
large tv
large home theatre

In [16]:
## break,continue,pass statements

for i in range(7):
    if i==4:
        continue
    print(i)
    
print('-----')

for i in range(7):
    if i==4:
        break
    print(i)
    
print('-----')

for i in range(7):
    if i==4:
        pass
    print(i)

0
1
2
3
5
6
-----
0
1
2
3
-----
0
1
2
3
4
5
6

In [34]:
## range functions

r=range(6)
for i in r:
    print(i)

print('----')

r=range(12,16)
for i in r:
    print(i)
    
print('----')

r=range(22,48,12)
for i in r:
    print(i)

0
1
2
3
4
5
----
12
13
14
15
----
22
34
46

In [145]:
## task- 8, lists

l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
print(l)
print('-----')
print(l[4])
print('-----')
print(l[2:8])
print('-----')
print(l[2:9:3])
print('-----')
print(l[8:0:-3])
print('------')
print(l[5:])
print('-----')
print(l[:5])
print('-----')
print(l[:-1])
print('------')
print(l[:-3])
print('------')
print(l[::-1])
print('------')
print(l[::-3])

[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99]
-----
moon
-----
[36, 19, 'moon', 14, 'sun', 44]
-----
[36, 14, 66]
-----
[66, 14, 36]
------
[14, 'sun', 44, 66, 99]
-----
[24, 'mars', 36, 19, 'moon']
-----
[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66]
------
[24, 'mars', 36, 19, 'moon', 14, 'sun']
------
[99, 66, 44, 'sun', 14, 'moon', 19, 36, 'mars', 24]
------
[99, 'sun', 19, 24]

In [110]:
## task -9,,,,,,list functions or methods

l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.append('saturn')
print(l)

[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99, 'saturn']

In [107]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.append(['saturn'])
print(l)

[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99, ['saturn']]

In [109]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.extend('saturn')
print(l)

[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99, 's', 'a', 't', 'u', 'r', 'n']

In [84]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.extend(['saturn'])
print(l)

[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99, 'saturn']

In [96]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
m=l.copy()
l.append(12)
print(m)

[24, 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99]

In [103]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.clear()
print(l)

[]

In [111]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
print(l.count(36))

1

In [118]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
print(l.index(14))

5

In [116]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.insert(1,'hello')
print(l)
l.insert(-3,'byee')
print(l)

[24, 'hello', 'mars', 36, 19, 'moon', 14, 'sun', 44, 66, 99]
[24, 'hello', 'mars', 36, 19, 'moon', 14, 'sun', 'byee', 44, 66, 99]

In [147]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.pop(6)
print(l)

[24, 'mars', 36, 19, 'moon', 14, 44, 66, 99]

In [123]:
l=[24,'mars',36,19,"moon",14,'sun',44,66,99]
l.remove(14)
print(l)

[24, 'mars', 36, 19, 'moon', 'sun', 44, 66, 99]

In [149]:
l=[24,36,19,14,44,66,99]
l.reverse()
print(l)

[99, 66, 44, 14, 19, 36, 24]

In [152]:
l=[24,36,19,14,44,66,99]
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[14, 19, 24, 36, 44, 66, 99]
[99, 66, 44, 36, 24, 19, 14]

In [6]:
## task-10 patterns
# pattern 0

for i in range(6):              #   for i in range(5):
    for j in range(1,i+1):      #       for j in range(i+1):
        print("*",end=' ')       #           print('*',end='')
    print()                     #      print()

*
* *
* * *
* * * *
* * * * *

In [9]:
# pattern 1
for i in range(5):
    for j in range(5):
        print('*',end=' ')
    print()
    
print('----or-----')  

for i in range(5):
    print('* * * * *')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
----or-----
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
# pattern 2

for i in range(1,6):
    for j in range(5):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [82]:
# pattern 3
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [79]:
#pattern 4
for i in range(6):
    for j in range(5-i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [116]:
# pattern 4
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [12]:
# pattern 5
for i in range(5):
    for j in range(i,5):
        print(' ',end='')
    for j in range(i+1):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

In [11]:
#pattern 6
for i in range(5):
    for j in range(i,5):
        print(' ',end='')
    for j in range(i):
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********